<section>
<div class="table">
  <div class="celda" id="descripcion">
    <h3>Consultoría EGH</h3>
    <p>
      Compromiso absoluto con la protección de la privacidad y la
      confidencialidad de los datos personales de los individuos.
    </p>
  </div>
  <div class="celda" id="privacidad">
    <h3>Privacidad</h3>
    <p>Política de privacidad</p>
    <p>Términos y condiciones</p>
  </div>
  <div class="celda" id="social">
    <h3>Social</h3>
    <p>
      Facebook 
    </p>
    <p>
      Whatsapp
    </p>
    <p>
      5578049464
    </p>
  </div>
</div>
</section>
