<section>
  <div class="table">
    <div class="celda" id="descripcion">
      <h3>Consultoría EGH</h3>
      <p>
        Compromiso absoluto con la protección de la privacidad y la
        confidencialidad de los datos personales de los individuos.
      </p>
    </div>
    <div class="celda" id="privacidad">
      <h3>Privacidad</h3>
      <a href="assets/POLITICA_DE_PRIVACIDAD.pdf">Política de privacidad</a><br>
      <br>
      <a href="assets/TERMINOS_Y_CONDICIONES.pdf">Términos y condiciones</a>
    </div>
    <div class="celda" id="social">
      <h3>Social</h3>
      <a href="https://www.facebook.com/gaonahuerta">
        Facebook 
      </a>
      <p>
        Whatsapp
      </p>
      <p>
        5578049464
      </p>
    </div>
  </div>
</section>
