<section>
    <h1>CONTACTO</h1>
    <div id="formulario">
        <form action="/formulario" method="POST">
            <div class="campo">
                <label for="fname">Nombre:
                </label> <br>
                <input type="text" id="fname" name="fname"><br>
            </div>
            <div class="campo">
                <label for="femail">Correo:
                </label> <br>
                <input type="text" id="femail" name="femail"><br>
            </div>
            <div class="campo">
                <label for="fphone">Teléfono:
                </label> <br>
                <input type="text" id="fphone" name="fphone"><br>
            </div>
            <div class="campo">
                <label for="fmessage">Mensaje:
                </label> <br>
                <textarea rows="5" id="fmessage" name="fmessage"></textarea><br>
            </div>
            <div class="campo">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</section>
