<section>
   
     <h1>¿QUIENES SOMOS?</h1>
     <div style="text-align: center;">
     <img src="assets/imagendatos.png"  alt="image" />
     </div>
     <p>Somos una firma mexicana líder en protección y gestión de datos personales. 
     Nuestro equipo altamente calificado está comprometido con la seguridad y privacidad de la información. 
     Ofrecemos soluciones integrales y servicios especializados para ayudar a las organizaciones a cumplir con 
     las regulaciones de privacidad y protección de datos en México y más allá.</p>
   
    
</section>
