<section>
  <h1>CONSULTORÍA EGH</h1>
  <div>
    <h3>Misión:</h3>
    <p>
      "Nuestra misión en Consultoría EGH es proporcionar soluciones integrales y
      éticas en el manejo de datos personales. Nos comprometemos a asesorar a
      nuestros clientes en la recolección, almacenamiento, procesamiento y
      análisis de datos de manera segura y responsable, garantizando el
      cumplimiento de las regulaciones de privacidad y protección de datos.
      Buscamos empoderar a las organizaciones para que utilicen la información de
      manera efectiva y transparente, contribuyendo así al desarrollo sostenible y
      al bienestar de la sociedad. En Consultoría EGH, estamos comprometidos con
      la integridad, la excelencia y el respeto por la privacidad y los derechos
      individuales en todo momento."
    </p>
    <h3>Visión:</h3>
    <p>
      "En Consultoría EGH, aspiramos a ser líderes reconocidos a nivel global en
      consultoría de datos personales. Nos esforzamos por ser pioneros en el
      desarrollo de soluciones innovadoras y éticas que impulsen el uso
      responsable de la información personal. Buscamos establecer estándares de
      excelencia en la protección de datos, ofreciendo servicios de consultoría de
      vanguardia que inspiren confianza y seguridad en nuestros clientes. Nuestra
      visión es contribuir a la creación de un mundo digital más seguro y
      transparente, donde la privacidad y los derechos individuales sean
      respetados en todo momento. En Consultoría EGH, nos comprometemos a seguir
      siendo un referente de integridad, profesionalismo y compromiso con la
      protección de datos en la era digital."
    </p>
  </div>
</section>
