<section>
<img src="assets/asterisco.png" alt="image" />
<h1>Valores</h1>
<div class="table">
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Privacidad y confidencialidad</h3>
    <p>
      Compromiso absoluto con la protección de la privacidad y la
      confidencialidad de los datos personales de los individuos.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Ética</h3>
    <p>
      Actuar siempre de manera ética y responsable en todas las actividades
      relacionadas con la gestión de datos personales.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Transparencia</h3>
    <p>
      Promover la transparencia en el manejo de datos, brindando a los clientes
      y usuarios información clara y completa sobre cómo se utilizan sus datos.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Integridad</h3>
    <p>
      Actuar con honestidad, sinceridad y coherencia en todas las interacciones
      y decisiones relacionadas con los datos personales.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Responsabilidad</h3>
    <p>
      Asumir la responsabilidad de proteger los datos personales y cumplir con
      todas las regulaciones y normativas aplicables en materia de privacidad.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Innovación</h3>
    <p>
      Buscar constantemente nuevas formas de mejorar y fortalecer las prácticas
      de gestión de datos, adoptando tecnologías y enfoques innovadores.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Empoderamiento</h3>
    <p>
      Capacitar a los clientes para que tomen decisiones informadas sobre el uso
      de sus datos personales y brindarles las herramientas necesarias para
      ejercer control sobre su información.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Excelencia</h3>
    <p>
      Buscar la excelencia en todos los aspectos de la consultoría de datos
      personales, desde la prestación de servicios hasta la atención al cliente
      y la innovación continua.
    </p>
  </div>
  <div class="celda">
    <img src="assets/asterisco.png" alt="image" />
    <h3>Respeto</h3>
    <p>
      Respetar los derechos y la dignidad de las personas en todo momento y
      tratar a todos los involucrados en el proceso de gestión de datos con
      respeto y consideración.
    </p>
  </div>
</div>
</section>
